<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>职位编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/css/weadmin.css}">
      <script type="text/javascript"  th:src="@{/layui/layui/layui.js}" charset="utf-8"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="weadmin-body">
        <form class="layui-form" id="jobEdit">
            <input type="hidden" name="id" id="id" th:value="${customer.id}">
          <div class="layui-form-item">
              <label for="customerName" class="layui-form-label">
                  客户名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="customerName" name="customerName" required="" lay-verify="title"
                  autocomplete="off" class="layui-input" th:value="${customer.customerName}" disabled>
              </div>
          </div>
            <div class="layui-form-item">
                <label for="customerWechat" class="layui-form-label">
                    客户微信
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="customerWechat" name="customerWechat" required="" lay-verify="title"
                           autocomplete="off" class="layui-input" th:value="${customer.customerWechat}" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="customerPhone" class="layui-form-label">
                    客户电话
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="customerPhone" name="customerPhone" required="" lay-verify="title"
                           autocomplete="off" class="layui-input" th:value="${customer.customerPhone}" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="customerMail" class="layui-form-label">
                    客户邮箱
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="customerMail" name="customerMail" required="" lay-verify="title"
                           autocomplete="off" class="layui-input" th:value="${customer.customerMail}" disabled>
                </div>
            </div>
          <div class="layui-form-item">
              <label for="customerMessage" class="layui-form-label">
                  <span class="we-red">*</span>客户留言
              </label>
              <div class="layui-input-block">
                  <textarea  id="customerMessage" name="customerMessage" class="layui-textarea" lay-verify="content" th:text="${customer.customerMessage}" readonly></textarea>
              </div>
          </div>
          <div class="layui-form-item">
              <button  class="layui-btn" lay-filter="add" id="eSubmit" lay-submit="" >确定</button>
          </div>
      </form>
    </div>
    <script type="text/javascript" th:inline="javascript">
        /*var windowComeback = document.getElementById('eSubmit');
        windowComeback.addEventListener('click', function () {
            window.history.back();
        });*/
        layui.use(['form','upload','layedit','layer'], function(){
          var form = layui.form,
          	layer = layui.layer,
            $ = layui.jquery
             ,upload = layui.upload,
              layedit = layui.layedit;


            layedit.build('customerMessage'); //建立编辑器

            form.on('submit(add)', function(data){
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
                parent.location.reload()
            })


        });
    </script>
  </body>

</html>