<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>新闻资讯</title>

    <meta name="author" content="themsflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="bookmark" href="/images/favicon.ico" type="image/x-icon"/>
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <!-- 公司简介 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/companyProfile.css}">
</head>
<body class="bg-111111">
<!-- <div id="loading-overlay">
    <div class="loader"></div>
</div>  -->

<header id="header" class="style2">
    <div class="container container-header">
        <div class="row">
            <div class="col-md-12">
                <div class="header-wrap style2 clearfix">
                    <div id="logo">
                        <a href="/portal/index/index">
                            <img src="/images/logo.png"
                                 alt="logo" width="320" height="36"
                                 data-retina="/images/logo.png"
                                 data-width="200"
                                 data-height="26"></a>
                    </div>
                    <div class="mobile-button">
                        <span></span>
                    </div>
                    <div class="nav-wrap style2">
                        <nav id="mainnav" class="mainnav ">
                            <ul class="menu">
                                <li >
                                    <a href="/portal/index/index" title="">首页</a>
                                </li>
                                <li>
                                    <a class="sub-menu-uj" th:href="@{/portal/company/company}" title="">公司简介</a>
                                </li>
                                <li class="active">
                                    <a th:href="@{/portal/news/enterprise}" title="">新闻资讯</a>
                                    <ul class="sub-menu sub-menu-u">
                                        <li><a class="sub-menu-uj" th:href="@{/portal/news/enterprise}"
                                               title="">企业新闻</a></li>
                                        <li><a class="sub-menu-ui" th:href="@{/portal/news/industry}" title="">行业动态</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/portal/project/index" title="">产品</a>
                                    <ul class="sub-menu">
                                        <li><a href="/portal/project/index" title="">产品展示</a></li>
                                        <li><a href="/portal/ypsc/index" title="">尤品商城</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=class="sub-menu-uj" th:href="@{/portal/job/job}" title="">人才招聘</a>
                                </li>

                                <li>
                                    <a href="/portal/contactus/index">联系我们</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div style="background:#fff; min-height:1500px;">
    <!-- news banner -->
    <div class="Gnews-banner">
        <ul class="Gnews-banner-Ul">
            <li class="Gnews-banner-Ul-L1">关注行内咨询及行内最新动态</li>
            <li class="Gnews-banner-Ul-L2">关注互联网、关注技术、透析与分享移动互联网行内最新动态</li>
        </ul>
    </div>
    <!-- 新闻资讯 -->
    <div class="Gnews-type" id="test">
        <ul class="clear Gnews-type-ul wrap">
            <li>新闻资讯</li>
            <li><img src="/images/Gnews-type.png" alt=""></li>
            <li class="sub-menu-li">行业动态</li>
        </ul>
    </div>
    <div class="Gnews-text wrap clear">
        <div class="Gnews-textLF">
            <ul class="clear Gnews-textLFu1">
                <a th:href="@{'/portal/news/detail_1?id='+${enterprise.id}}">
                    <li class="Gnews-textLFu1-lo">
                        <p class="Gnews-textLFu1-pfist"><span th:text="${enterprise.title}"></span></p>
                        <div class="Gnews-textLFu1-psecnd">
                            <p>
                                <span th:utext="${enterprise.content}"></span>
                            </p></div>
                        <p class="Gnews-textLFu1-pthid"><span
                                th:text="${#dates.format(enterprise.createTime,'yyyy-MM-dd')}"></span></p>
                    </li>
                    <li class="Gnews-textLFu1-lt"><img th:src="${enterprise.picture}" alt=""></li>
                </a>
            </ul>
            <!--  -->
            <ul class="clear Gnews-textLFu2" th:each="item: ${list}">
                <a th:href="@{'/portal/news/detail_1?id='+${item.id}}">
                    <li class="Gnews-textLFu2-lo">
                        <img th:src="${item.picture}" alt="">
                    </li>
                    <li class="Gnews-textLFu2-lt">
                        <p class="Gnews-textLFu1-pfist"><span th:text="${item.title}"></span></p>
                        <div class="Gnews-textLFu1-psecnd">
                            <p>
                                <span th:utext="${item.content}"></span>
                            </p>
                        </div>
                        <p class="Gnews-textLFu1-pthid"><span
                                th:text="${#dates.format(item.createTime,'yyyy-MM-dd')}"></span><span></span></p>
                    </li>
                </a>
            </ul>

        </div>
        <!--<div class="Gnews-textRT">
            <p><img src="/images/Gnews-textRT01.png" alt=""></p>
            <p><img src="/images/Gnews-textRT02.png" alt=""></p>
            <p><img src="/images/Gnews-textRT03.png" alt=""></p>
        </div>-->
        <div class="Gnews-textRT">
            <p th:if="${pic1!=null and pic1.size()!=0}"><a
                    th:href="@{'/portal/news/detail_1?id='+${pic1.get(0).id}}"><img th:src=" ${pic1?.get(0)?.picture}"
                                                                                    alt=""/></a></p>
            <p th:if="${pic2!=null and pic2.size()!=0}"><a
                    th:href="@{'/portal/news/detail_1?id='+${pic2.get(0).id}}"><img th:src=" ${pic2?.get(0)?.picture}"
                                                                                    alt=""/></a></p>
            <p th:if="${pic3!=null and pic3.size()!=0}"><a
                    th:href="@{'/portal/news/detail_1?id='+${pic3.get(0).id}}"><img th:src=" ${pic3?.get(0)?.picture}"
                                                                                    alt=""/></a></p>
        </div>
    </div>
</div>


<footer>
    <div class="widget-footer pd-top-20 pd-bottom-20" style="background:#222429;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10">
                    <div class="widget w_widget_box">
                        <div class="widget-text text-white">
                            <h6 class="mg-top-10 mg-bottom-10">尤品移动软件开发公司</h6>
                            <p class="w_widgetList"><a href="javascript:;">APP定制开发</a><a
                                    href="javascript:;">Android开发</a><a href="javascript:;">iOS一站式开发</a><a
                                    href="javascript:;">外包服务</a><a href="javascript:;">平面设计</a><a href="javascript:;">微信小程序开发</a><a
                                    href="javascript:;">网站建设</a><a href="javascript:;">互联网营销</a><a href="javascript:;">系统开发</a>
                            </p>
                            <p>Copyright 2016 - 2019 安徽尤品信息科技有限公司 版权所有，保留所有权利 All Rights Reserved. 皖ICP备12008933号</p>
                            <p>地址：合肥市瑶海区站西路大众大厦1103室</p>
                            <a target="_blank" class="fixed-qq" href="http://wpa.qq.com/msgrd?v=3&uin=3278902005&site=qq&menu=yes">
                                <img border="0" src="http://wpa.qq.com/pa?p=2:3278902005:51" alt="联系客服" title="联系客服" /></br>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-2" style="padding-left:20px;margin-top:20px;">
                    <div class="w_widget_img">
                        <img src="/images/erweima.png" alt="">
                        <p>服务热线：8888-888-888</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a id="scroll-top"></a>

</body>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>
</html>

